<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Novo pedido</h1>
</div>
<form>
    <div class="form-group">
        <label for="nome">Cliente</label>
        <select 
            ng-class="{'is-invalid': vm.error.cliente}" 
            ng-options="item as item.nome for item in vm.clientes track by item.id"            
            ng-model="vm.registro.cliente" 
            class="form-control">
        </select>
        <small ng-if="vm.error.cliente" class="invalid-feedback">
            {{vm.error.cliente[1]}}
        </small>
    </div>

    <button type="button" ng-click="vm.salvar()" class="btn btn-primary">Salvar</button>
    <a ui-sref="pedidosList" class="btn btn-danger">Cancelar</button>
</form>